<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../css/details.css">
    <link rel="stylesheet" href="./../css/public.css">
    <link rel="stylesheet" href="./../css/public1.css">
    <script src="./../assets/font_2210019_2cxq7rx8nai/iconfont.js"></script>
</head>
<body>
    <div class="headerwarp">
      <header>
      <div class="header_l">
          <svg class="icon" aria-hidden="true">
              <use xlink:href="#iconmaoyan"></use>
          </svg>
          <a href="">猫眼电影</a>
      </div>

      <div class="header_c">
          <div class="left">
              <span>北京</span> 
              <svg class="icon" aria-hidden="true">
                  <use xlink:href="#iconbelow-s"></use>
              </svg>
          </div>
          <div class="right">
              <ul>
                  <li class="active">首页</li>
                  <li>电影</li>
                  <li>影院</li>
                  <li>演出</li>
                  <li>榜单</li>
                  <li>热点</li>
                  <li>商城</li>
              </ul>
              <div>
                  <svg class="icon sj" aria-hidden="true">
                      <use xlink:href="#iconshouji"></use>
                  </svg>
                  APP下载
                  <svg class="icon" aria-hidden="true">
                      <use xlink:href="#iconbelow-s"></use>
                  </svg>
              </div>
          </div>

      </div>
      <div class="header_r">
          <div>
              <input type="text" placeholder="找影视剧、影人、影院">
              <div class="search">
                  <svg class="icon" aria-hidden="true"><use xlink:href="#icondamai-sousuo"></use></svg>
              </div>
          </div>
          <div class="login">
              <img src="./../images/2.png" alt="">
              <svg class="icon" aria-hidden="true"><use xlink:href="#iconbelow-s"></use></svg>
          </div>
      </div>
  </header>
  </div>
  <div class="top" style="height: 81px;"></div>
    
    <!-- content -->
    <div class="content container">
      <nav>
        <span class="index">首页</span>>
        <span>商城</span>>
        <span>迪士尼云音礼盒套装</span>
      </nav>
      <div class="goodsDetail">
        <div class="enlargeBox">
          <div class="show">
            <img src="./../images/1.jpg" alt="">
            <div class="mask"></div>
          </div>
          <div class="list">
            <p class="active">
              <img src="./../images/1.jpg" data-show="./../images/1.small.jpg" data-enlarge="./../images/1.big.jpg" alt="">
            </p>
            <p>
              <img src="./../images/2.jpg" data-show="./../images/2.small.jpg" data-enlarge="./../images/2.big.jpg" alt="">
            </p>
          </div>
          <div class="enlarge"></div>
        </div>
        <div class="goodsInfo">
          <h3 class="desc">迪士尼新年圆领卫衣</h3>
          <p class="price">
            ￥ <span class="text-danger">169.00</span>
            <span class="dz">
                ￥
                199
            </span>
          </p>
          <p class="price1"><span>服务：</span><span>· 正版授权</span><span>《售后服务》</span></p>
          <p class="price2"><span>说明：</span>说明：该商品由第三方卖家提供</p>
          <div class="purchase-btn">立即抢购</div>
        </div>
      </div>
      <div class="goodsDesc"></div>
    </div>


    <!-- footer -->
 <!-- footer -->
 <div class="footer">
  <p class="friendly-links">
    关于猫眼 :
    <a href="http://ir.maoyan.com/s/index.php#pageScroll0" target="_blank">关于我们</a>
    <span></span>
    <a href="http://ir.maoyan.com/s/index.php#pageScroll1" target="_blank">管理团队</a>
    <span></span>
    <a href="http://ir.maoyan.com/s/index.php#pageScroll2" target="_blank">投资者关系</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    友情链接 :
    <a href="http://www.meituan.com" data-query="utm_source=wwwmaoyan" target="_blank">美团网</a>
    <span></span>
    <a href="http://www.gewara.com" data-query="utm_source=wwwmaoyan">格瓦拉</a>
    <span></span>
    <a href="http://i.meituan.com/client" data-query="utm_source=wwwmaoyan" target="_blank">美团下载</a>
    <span></span>
    <a href="https://www.huanxi.com" data-query="utm_source=maoyan_pc" target="_blank">欢喜首映</a>
  </p>
  <p class="friendly-links">
    商务合作邮箱：v@maoyan.com
    客服电话：10105335
    违法和不良信息举报电话：4006018900
  </p>
  <p class="friendly-links">
    用户投诉邮箱：tousujubao@meituan.com
    舞弊线索举报邮箱：wubijubao@maoyan.com
  </p>
  <p class="friendly-links  credentials">
    <a href="/about/licence/1" target="_blank">中华人民共和国增值电信业务经营许可证 京B2-20190350</a>
    <span></span>
    <a href="/about/licence/4" target="_blank">营业性演出许可证 京演（机构）（2019）4094号</a>
  </p>
  <p class="friendly-links  credentials">
    <a href="/about/licence/3" target="_blank">广播电视节目制作经营许可证 （京）字第08478号</a>
    <span></span>
    <a href="/about/licence/2" target="_blank">网络文化经营许可证 京网文（2019）3837-369号 </a>
  </p>
  <p class="friendly-links  credentials">
    <a href="/rules/agreement" target="_blank">猫眼用户服务协议 </a>
    <span></span>
    <a href="/rules/rule" target="_blank">猫眼平台交易规则总则 </a>
    <span></span>
    <a href="/rules/privacy" target="_blank">隐私政策 </a>
  </p>
  <p class="friendly-links  credentials">
    <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102003232" target="_blank">京公网安备
      11010102003232号</a>
    <span></span>
    <a href="http://www.beian.miit.gov.cn/" target="_blank">京ICP备16022489号-1</a>
  </p>
  <p>北京猫眼文化传媒有限公司</p>
  <p>
    &copy;<span class="my-footer-year">2016</span>
    猫眼电影 maoyan.com</p>
  <div class="certificate">
    <a href="http://sq.ccm.gov.cn:80/ccnt/sczr/service/business/emark/toDetail/350CF8BCA8416C4FE0530140A8C0957E"
      target="_blank">
      <img src="./../images/6.jpg" />
    </a>
    <a href="/about/licence/5" target="_blank">
      <img src="./../images/7.jpg" />
    </a>
    <a href="https://www.12377.cn" target="_blank">
      <img src="./../images/8.jpg" />
    </a>
  </div>
</div>



    <script src="./../js/enlarge.js"></script>
    <script>
        new Enlarge('.enlargeBox')
    </script>
</body>
</html>