<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../css/login.css">
    <link rel="stylesheet" href="./../css/public1.css">
    <script src="./../assets/font_2210019_2cxq7rx8nai/iconfont.js"></script>
</head>
<body>
    <header class="header">
        <img src="./../images/logo.png" alt="">
    </header>
    <div class="main">
        <div class="main-left">
            <img src="./../images/1.png" alt="">
        </div>
        <div class="main-right">
            <div class="kong"></div>
            <form action="">
                <span class="zhdl">账号登录</span>
                <div class="input-wrapper">
                    <span>+86 ></span>
                    <input type="text" id="login-email" class="phone-input" name="email" placeholder="手机号" value=""
            maxlength="15"/>
                </div>
                <div class="input-mm">
                    <svg class="icon" aria-hidden="true"><use xlink:href="#iconlock"></use></svg>
                    <input type="password" id="login-password" class="pw-input" name="password" placeholder="密码" />
                </div>
                <p class="wjmm">忘记密码？</p>
                <div class="dl">
                    <input type="submit" class="btn" name="commit" value="登录" />
                </div>
                <p class="zczh">还没有账号？<a href="">免费注册</a></p>
            </form>
        </div>
    </div>
    <div class="footer">
        <p>  &copy;<span>2021</span>美团网团购meituan.com京ICP证070791号京公网安备11010502025545号</p>
    </div>
            
    <script src="./../assets/jquery/jquery.min.js"></script>
    <script src="./../js/public.js"></script>
    <script src="./../js/login.js"></script>

</body>
</html>