<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../css/public.css">
    <link rel="stylesheet" href="./../css/public1.css">
    <link rel="stylesheet" href="./../css/movie.css">
    <script src="./../assets/font_2210019_2cxq7rx8nai/iconfont.js"></script>
    <link rel="stylesheet" href="./../assets/pagination/pagination.css">

</head>
<body>
    <div class="headerwarp">
        <header>
        <div class="header_l">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#iconmaoyan"></use>
            </svg>
            <a href="">猫眼电影</a>
        </div>

        <div class="header_c">
            <div class="left">
                <span>北京</span> 
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#iconbelow-s"></use>
                </svg>
            </div>
            <div class="right">
                <ul>
                    <li class="active">首页</li>
                    <li>电影</li>
                    <li>影院</li>
                    <li>演出</li>
                    <li>榜单</li>
                    <li>热点</li>
                    <li>商城</li>
                </ul>
                <div>
                    <svg class="icon sj" aria-hidden="true">
                        <use xlink:href="#iconshouji"></use>
                    </svg>
                    APP下载
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#iconbelow-s"></use>
                    </svg>
                </div>
            </div>

        </div>
        <div class="header_r">
            <div>
                <input type="text" placeholder="找影视剧、影人、影院">
                <div class="search">
                    <svg class="icon" aria-hidden="true"><use xlink:href="#icondamai-sousuo"></use></svg>
                </div>
            </div>
            <div class="login">
                <img src="./../images/2.png" alt="">
                <svg class="icon" aria-hidden="true"><use xlink:href="#iconbelow-s"></use></svg>
            </div>
        </div>
    </header>
    </div>
    <div class="top" style="height: 81px;"></div>

    <!-- nav -->
    <div class="nav">
        <div class="list">
            <div class="info filterinfo container">
                <div class="panel panel-success">
                <div class="panel-body">
                    <ul>
                    <li class="cat_one">
                        <div class="left">品牌:</div>
                        <div class="right">
                        <!-- 渲染页面 -->
                        <span class="active">全部</span>
                        <span>nihao</span>
                        <span>nihao</span>
                        <span>nihao</span>
                        <span>nihao</span>
                        </div>
                    </li>
                    <li class="cat_two">
                        <div class="left">行政区:</div>
                        <div class="right">
                        <!-- 渲染页面 -->
                        <span class="active">全部</span>
                        <span class="active">电视</span>
                        <span>nihao</span>
                        <span>nihao</span>
                        <span>nihao</span>
                        <span>nihao</span>
                        
                        </div>
                    </li>
                    <li class="cat_three">
                        <div class="left">年代:</div>
                        <div class="right">
                        <!-- 渲染页面 -->
                        <span class="active">全部</span>
                        <span class="active">长虹</span>
                        <span>nihao</span>
                        <span>nihao</span>
                        <span>nihao</span>
                        <span>nihao</span>
                        </div>
                    </li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main -->
    <div class="main">
        <h2><p>影院列表</p> <span><img src="./../images/12.png" alt="">筛选</span></h2>
        <div class="main_list">
            <div class="main_l">
                <h3>青春光线电影院</h3>
                <p>地址：东城区滨河路乙1号雍和航星园74-76号楼</p>
                <span>退</span><span>改签</span><span>折扣卡</span><span>4K厅</span>
            </div>
            <div class="main_c">
                <span>￥40</span>起
                <p>23km</p>
            </div>
            <div class="main_r">
                <p>选座购票</p>
            </div>
        </div>
        <div class="main_list">
            <div class="main_l">
                <h3>青春光线电影院</h3>
                <p>地址：东城区滨河路乙1号雍和航星园74-76号楼</p>
                <span>退</span><span>改签</span><span>折扣卡</span><span>4K厅</span>
            </div>
            <div class="main_c">
                <span>￥40</span>起
                <p>23km</p>
            </div>
            <div class="main_r">
                <p>选座购票</p>
            </div>
        </div>
        <div class="main_list">
            <div class="main_l">
                <h3>青春光线电影院</h3>
                <p>地址：东城区滨河路乙1号雍和航星园74-76号楼</p>
                <span>退</span><span>改签</span><span>折扣卡</span><span>4K厅</span>
            </div>
            <div class="main_c">
                <span>￥40</span>起
                <p>23km</p>
            </div>
            <div class="main_r">
                <p>选座购票</p>
            </div>
        </div>
        <div class="main_list">
            <div class="main_l">
                <h3>青春光线电影院</h3>
                <p>地址：东城区滨河路乙1号雍和航星园74-76号楼</p>
                <span>退</span><span>改签</span><span>折扣卡</span><span>4K厅</span>
            </div>
            <div class="main_c">
                <span>￥40</span>起
                <p>23km</p>
            </div>
            <div class="main_r">
                <p>选座购票</p>
            </div>
        </div>
        <div class="main_list">
            <div class="main_l">
                <h3>青春光线电影院</h3>
                <p>地址：东城区滨河路乙1号雍和航星园74-76号楼</p>
                <span>退</span><span>改签</span><span>折扣卡</span><span>4K厅</span>
            </div>
            <div class="main_c">
                <span>￥40</span>起
                <p>23km</p>
            </div>
            <div class="main_r">
                <p>选座购票</p>
            </div>
        </div>
        <div class="main_list">
            <div class="main_l">
                <h3>青春光线电影院</h3>
                <p>地址：东城区滨河路乙1号雍和航星园74-76号楼</p>
                <span>退</span><span>改签</span><span>折扣卡</span><span>4K厅</span>
            </div>
            <div class="main_c">
                <span>￥40</span>起
                <p>23km</p>
            </div>
            <div class="main_r">
                <p>选座购票</p>
            </div>
        </div>
        <div class="main_list">
            <div class="main_l">
                <h3>青春光线电影院</h3>
                <p>地址：东城区滨河路乙1号雍和航星园74-76号楼</p>
                <span>退</span><span>改签</span><span>折扣卡</span><span>4K厅</span>
            </div>
            <div class="main_c">
                <span>￥40</span>起
                <p>23km</p>
            </div>
            <div class="main_r">
                <p>选座购票</p>
            </div>
        </div>
    </div>

    <!-- pagination -->
    <div class="pagination">
    
    </div>



     <!-- footer -->
     <div class="footer">
        <p class="friendly-links">
          关于猫眼 :
          <a href="http://ir.maoyan.com/s/index.php#pageScroll0" target="_blank">关于我们</a>
          <span></span>
          <a href="http://ir.maoyan.com/s/index.php#pageScroll1" target="_blank">管理团队</a>
          <span></span>
          <a href="http://ir.maoyan.com/s/index.php#pageScroll2" target="_blank">投资者关系</a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          友情链接 :
          <a href="http://www.meituan.com" data-query="utm_source=wwwmaoyan" target="_blank">美团网</a>
          <span></span>
          <a href="http://www.gewara.com" data-query="utm_source=wwwmaoyan">格瓦拉</a>
          <span></span>
          <a href="http://i.meituan.com/client" data-query="utm_source=wwwmaoyan" target="_blank">美团下载</a>
          <span></span>
          <a href="https://www.huanxi.com" data-query="utm_source=maoyan_pc" target="_blank">欢喜首映</a>
        </p>
        <p class="friendly-links">
          商务合作邮箱：v@maoyan.com
          客服电话：10105335
          违法和不良信息举报电话：4006018900
        </p>
        <p class="friendly-links">
          用户投诉邮箱：tousujubao@meituan.com
          舞弊线索举报邮箱：wubijubao@maoyan.com
        </p>
        <p class="friendly-links  credentials">
          <a href="/about/licence/1" target="_blank">中华人民共和国增值电信业务经营许可证 京B2-20190350</a>
          <span></span>
          <a href="/about/licence/4" target="_blank">营业性演出许可证 京演（机构）（2019）4094号</a>
        </p>
        <p class="friendly-links  credentials">
          <a href="/about/licence/3" target="_blank">广播电视节目制作经营许可证 （京）字第08478号</a>
          <span></span>
          <a href="/about/licence/2" target="_blank">网络文化经营许可证 京网文（2019）3837-369号 </a>
        </p>
        <p class="friendly-links  credentials">
          <a href="/rules/agreement" target="_blank">猫眼用户服务协议 </a>
          <span></span>
          <a href="/rules/rule" target="_blank">猫眼平台交易规则总则 </a>
          <span></span>
          <a href="/rules/privacy" target="_blank">隐私政策 </a>
        </p>
        <p class="friendly-links  credentials">
          <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102003232" target="_blank">京公网安备
            11010102003232号</a>
          <span></span>
          <a href="http://www.beian.miit.gov.cn/" target="_blank">京ICP备16022489号-1</a>
        </p>
        <p>北京猫眼文化传媒有限公司</p>
        <p>
          &copy;<span class="my-footer-year">2016</span>
          猫眼电影 maoyan.com</p>
        <div class="certificate">
          <a href="http://sq.ccm.gov.cn:80/ccnt/sczr/service/business/emark/toDetail/350CF8BCA8416C4FE0530140A8C0957E"
            target="_blank">
            <img src="./../images/6.jpg" />
          </a>
          <a href="/about/licence/5" target="_blank">
            <img src="./../images/7.jpg" />
          </a>
          <a href="https://www.12377.cn" target="_blank">
            <img src="./../images/8.jpg" />
          </a>
        </div>
    </div> 


    <script src="./../assets/pagination/pagination.js"></script>  
    <script>
        new Pagination('.pagination')
    </script> 
</body>
</html>