<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../css/public.css">
    <link rel="stylesheet" href="./../css/register.css">
    <script src="./../assets/font_2210019_2cxq7rx8nai/iconfont.js"></script>
</head>
<body>
    <div class="headerwarp">
        <header>
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#iconmaoyan"></use>
        </svg>
        <a href="">猫眼电影</a>
    </header>
    </div>
    <main>
        <form action="">
            <label for="">
                <p>手机号</p>
                <input type="text"><span>注册成功后，全美团通用</span>
            </label>
            <!-- <label for="">
                <p></p> -->
                <button>免费获取短信动态码</button>
            <!-- </label> -->
            <label for="">
                <p>短信动态码</p>
               <input type="text">
            </label>
            <label for="">
                <p>创建密码</p>
                <input type="text">
            </label>
            <label for="">
                <p>确认密码</p>
               <input type="text">
            </label>
            <p><button>同意以下协议并注册</button></p>
            <p><span>《美团用户服务协议》</span>《美团隐私政策》<span></span></p>
        </form>
    </main>
    <div>
        <p>©meituan.com&nbsp;京ICP证070791号&nbsp;京公网安备11010502025545号</p>
    </div>
    <script src="./../js/login.js"></script>
    <script src="./../js/public.js"></script>
    <script src="./../php/register.php"></script>
</body>
</html>